# variables you might want to tweak
AUTO_DELETE_COMPLETED_CONTAINERS=True
CONTAINER_MEMORY=8
CONTAINER_CPU=4
# which container image to use, change only if for some reason using a different (public) registry
CONTAINER_IMAGE=ghcr.io/the-strategy-unit/nhp_model

# ---------------
# required values
# ---------------

# the name of the storage account which contains the data
STORAGE_ACCOUNT=
# the uuid of the subscription which contains all our resources
SUBSCRIPTION_ID=
# which resource group to create the containers in
RESOURCE_GROUP=
# which azure location to create the containers in: *must* be the same as the virtual networks location
AZURE_LOCATION=
# attach the containers to a virtual network which is permitted to access the storage account
SUBNET_ID=
SUBNET_NAME=
# the id of the user assigned identity: this is the id which has permissions to read data
USER_ASSIGNED_IDENTITY=

# ---------------
# optional values
# ---------------

# which log analytics workspace to connect to
LOG_ANALYTICS_WORKSPACE_ID=
LOG_ANALYTICS_WORKSPACE_KEY=
LOG_ANALYTICS_WORKSPACE_RESOURCE_ID=
